<html>
<head>
	<title>youtube.js client</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src='/assets/js/swfobject.js'></script>
	<script src="http://192.168.0.104:8081/socket.io/socket.io.js"></script>
	<script src='/assets/js/application.js'></script>

</head>
<body>
<div class='container'>
	<div class='span6'>
		<h1>youtube.js client</h1>


<object width="640" height="360">
  <param name="movie" value="https://www.youtube.com/v/30Acy8Z9jkw?version=3"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowScriptAccess" value="always"></param>
  <embed  type="application/x-shockwave-flash" allowfullscreen="true" id='ytplayer' allowScriptAccess="always" width="640" height="360"></embed>
</object>
	</div>
	<div class='span5' style='padding-left: 20px; border-left: 1px solid #AAAAAA'>
<h1>Upcoming</h1>

<ul class="media-list">
  
</ul>

	</div>


</div>
</body>
</html>